.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 240px); /* Account for header height */
  padding: 2rem;
  background-color: #0D0D0D;
  color: white;
  text-align: center;
}

.about-content {
  width: 63vw;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: right;
  direction: rtl;
}

.about-content h2 {
  font-size: 1.5rem;
}
.about-text p {
  margin-bottom: 1.5rem;
}

.catalog-button {
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
  display: inline-block; /* To contain the image properly */
}

.catalog-button:active {
  transform: translateY(2px);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
}

.catalog-button img {
  display: block; /* Remove any extra space below the image */
  max-width: 100%;
  height: auto;
}

.about-description {
  margin: 2rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
  direction: rtl;
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
}

.contact-info {
  font-size: 1.1rem;
  line-height: 1.8;
  margin: 2rem 0;
  text-align: center;
  direction: rtl;
}
.text-box .text-content {
  width: 63vw;
  margin-bottom: 4rem;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .about-container {
    padding: 1rem;
  }

  .about-text {
    font-size: 1rem;
  }
}
