.cart-page {
  min-height: calc(100vh - 240px);
}

.cart-container {
  max-width: 400px;
  margin: 0 auto;
}

.cart-empty {
  text-align: center;
  margin-top: 32px;
}

.cart-item {
  display: flex;
  align-items: stretch;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 16px;
}

.cart-item-details {
  flex: 1;
  padding: 16px 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}


.flex-grow {
  flex-grow: 1;
}

.cart-item-label {
  font-size: 20px;
  margin-bottom: 8px;
}

.cart-remove-btn {
  background: none;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  width: fit-content;
  margin: 0;
}

.cart-item-price {
  margin-top: 8px;
}

.cart-item-qty {
  margin-top: 8px;
  font-size: 14px;
}

.cart-item-media {
  margin-left: 16px;
}

.cart-item-video {
  width: 139.81px;
  height: 192.47px;
  object-fit: cover;
  border-radius: 12px;
  background: black;
  border: 1px solid gray;
}

.cart-checkout-btn {
  text-align: center;
  position: fixed;
  bottom: 40px;
  left: 50%;
  border-radius: 30%;
  transform: translateX(-50%);
  background-color: #0D0D0D;
}
