.controller-purchase-root {

  color: #fff;
  min-height: 100vh;
  padding: 10px 0px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  position: relative;
}
 

.logo-button {
  width: 36.074px;
  height: 28.062px;

  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.purchase-header {
   position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.back-to-moment {
  display: flex;
  /* margin-top: -20px; */
  background: none;
  border: none;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: 'ArbelHagilda';
}
.video-title-header {
  transform: translate(-50px,-7px);
  width: 168.727px;
  height: 23.115px;
}

.back-to-moment .arrow {
    width: 36px;
    height: 36px;
}
.video-description{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -10px);  
  font-family: Leon;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 150%; 
}

.separator-dot {
  width: 3.227px;
  height: 3.227px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  margin: 0 10px;
  margin-top: 2px;

}

.video-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.purchase-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center;
  position: relative;
}

.checkout-video {
  width: 556.584px;
  height: 575.927px;
  flex-shrink: 0;
  object-fit: cover; 
}

.qr-code {
 position: absolute;
  top: 36%;
  
  width: 160px; 
  height: 160px;
  z-index: 2;
}

.purchase-content p {
  
  color: #FFF;
  text-align: center;
  font-family: 'Leon';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  letter-spacing: 0.6px;
 
}

